@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}

body {
  background: black;
  width: 100%;
  height: 100%;
}

.rodape {
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: end;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  flex: 1;
}

.container {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  align-self: center;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #ff29705e;
  position: relative;
  margin: 0 auto;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.4rem;
  padding: 5px;
}

.clock .number.number-1 {
  --rotation: 30deg;
}

.clock .number.number-2 {
  --rotation: 60deg;
}
.clock .number.number-3 {
  --rotation: 90deg;
  font-weight: 700;
  font-size: 1.9em;
}
.clock .number.number-4 {
  --rotation: 120deg;
}
.clock .number.number-5 {
  --rotation: 150deg;
}
.clock .number.number-6 {
  --rotation: 180deg;
  font-weight: 700;
  font-size: 1.9em;
}

.clock .number.number-7 {
  --rotation: 210deg;
}
.clock .number.number-8 {
  --rotation: 240deg;
}
.clock .number.number-9 {
  --rotation: 270deg;
  font-weight: 700;
  font-size: 1.9em;
}
.clock .number.number-10 {
  --rotation: 300deg;
}
.clock .number.number-11 {
  --rotation: 330deg;
}
.clock .number.number-12 {
  --rotation: 0deg;
  font-weight: 700;
  font-size: 1.9em;
}

.number-text-1 {
  transform: rotateZ(330deg);
}
.number-text-2 {
  transform: rotateZ(300deg);
}
.number-text-3 {
  transform: rotateZ(270deg);
}
.number-text-4 {
  transform: rotateZ(240deg);
}
.number-text-5 {
  transform: rotateZ(210deg);
}
.number-text-6 {
  transform: rotateZ(180deg);
}
.number-text-7 {
  transform: rotateZ(150deg);
}
.number-text-8 {
  transform: rotateZ(120deg);
}
.number-text-9 {
  transform: rotateZ(90deg);
}
.number-text-10 {
  transform: rotateZ(60deg);
}
.number-text-11 {
  transform: rotateZ(30deg);
}
.number-text-12 {
  transform: rotateZ(360deg);
}

/* PONTEIROS */

.clock::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 11;
  background-color: black;
  transform: translate(-50%, -50%);
}

.clock .ponteiro {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 10;
  background-color: black;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); /* MOVENDO NO EIXO HORIZONTAL METADE DA LARGURA DO ELEMENTO */ /*CONVERTENDO ROTATION PARA DEG*/
  transform-origin: bottom; /*O EFEITO SAI COM A BASE SENDO O BOTTOM*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.clock .ponteiro.seconds {
  width: 3px;
  height: 40%;
  background-color: #04fc43;
}

.clock .ponteiro.minutes {
  width: 7px;
  height: 35%;
  background-color: #fee800;
}

.clock .ponteiro.hours {
  width: 10px;
  height: 25%;
  background-color: #ff2972;
}

.digital-clock {
  flex: 1;
  max-width: 300px;
  text-align: center;
  border: 2px solid #ff29705e;
  box-shadow: 4px;
  border-radius: 5px;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-content: center;
  margin: 50px auto;
  padding: 10px;
  gap: 15px;
}

.digital-clock .digital-hour {
  color: #ff2972;
  position: relative;
}

.digital-clock .digital-hour::after {
  content: ":";
  position: absolute;
  right: -9px;
  top: -2px;
  color: #ff2972;
}

.digital-clock .digital-minutes {
  color: #fee800;
  position: relative;
}

.digital-clock .digital-minutes::after {
  content: ":";
  position: absolute;
  right: -9px;
  top: -2px;
  color: #fee800;
}

.digital-clock .digital-minutes::after {
  animation: relogio 1s steps(1) infinite;
}

@keyframes relogio {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.digital-clock .digital-seconds {
  color: #04fc43;
}

.digital-clock .digital-ampm {
  color: rgb(43, 205, 226);
  font-size: 0.5em;
  display: flex;
  justify-items: center;
  align-items: center;
}
